header {
<<<<<<< HEAD
  color: white;
  background-image: url("../images/icon.png");
  background-repeat: no-repeat;
  background-position-x: 20px;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
=======
  background-color: white;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #cccccc;
}

.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 70px;
  display: inline-block;
}
>>>>>>> 485615c470c493a0b8dfd047db0db3fa60345da1
