<<<<<<< HEAD
.places {
  display: block;
  margin: 45px auto;
  text-align: center;
}

article {
  display: inline-block;
=======
.container {
  max-width: 1000px;
  margin: 30px auto;
}

.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  border: none;
  width: 20%;
  height: 48px;
  border-radius: 4px;
  margin-right: 30px;
  cursor: pointer;
}

.filters button a {
  text-decoration: none;
  color: #ffffff;
}

.location,
.amenities {
  height: 100%;
  width: 40%;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  transition: 0.3 ease-in;
}
.location {
  border-right: 1px solid #dddddd;
}
.amenities {
  margin-right: 5%;
}

.location h3,
.amenities h3 {
  font-weight: 600;
  margin-bottom: 0;
}

.location h4,
.amenities h4 {
  font-weight: 400;
  margin: 0;
  font-size: 14px;
  transition: 0.5 ease-out;
}
.popover {
  background-color: #4b4b4b;
  transition: 0.5 ease;
  margin-top: 20px;
  height: auto;
  display: none;
  padding: 13px;
  border: 1px solid #dddddd;
}

.popover li {
  list-style: none;
  margin: 10px;
  padding: 5px;
  color: black;
}

.location:hover .popover,
.amenities:hover .popover {
  display: block;
  transition: 0.5 ease-out;
}
.place {
  display: flex;
  flex-direction: column;
}
.place h1 {
  font-size: 30px;
}

.place article {
>>>>>>> 485615c470c493a0b8dfd047db0db3fa60345da1
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
<<<<<<< HEAD
  text-align: center;
}

h1 {
  float: left;
  text-align: left;
  width: 95%;
  display: block;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 30px;
}

article h2 {
  font-size: 30px;
  padding: 0px;
  margin: auto;
=======
}

.place article h2 {
  text-align: center;
  font-size: 30px;
}
.place_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
>>>>>>> 485615c470c493a0b8dfd047db0db3fa60345da1
}
